<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.staff_induction.staff_inductionMapper">
    <insert id="save" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto">
        insert into tbl_staff_induction(p_name,staff_name,staff_no,staff_sex,staff_phone,staff_status,staff_department)
        values(#{p_name},(#{staff_name}),#{staff_no},#{staff_sex},#{staff_phone},#{staff_status},#{staff_department})
    </insert>
    <select id="search1" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto"
            resultType="com.example.web01.po.staff_induction.staff_induction">
        select * from tbl_staff_induction
        <where>

            <if test="staff_status != null and staff_status != ''">
                and staff_status =#{staff_status}
            </if>
        </where>
    </select>
    <select id="find" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto"
            resultType="com.example.web01.po.staff_induction.staff_induction">
        select * from tbl_staff_induction
    </select>
    <select id="search2" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto"
            resultType="com.example.web01.po.staff_induction.staff_induction">
        select * from tbl_staff_induction
        <where>

            <if test="staff_status != null and staff_status != ''">
                and staff_status =#{staff_status}
            </if>
        </where>
    </select>
    <update id="search3" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto">
        update tbl_staff_induction
        set staff_status=#{staff_status},p_name=p_name,staff_department=staff_department,staff_name=staff_name,staff_sex=staff_sex,staff_no=staff_no
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
        </where>
    </update>
    <update id="change" parameterType="com.example.web01.dto.staff_induction.staff_inductionDto">
        <if test="p_name != null and p_name != '' and staff_department != null and staff_department != ''">
        update tbl_staff_induction
        set staff_status=staff_status,p_name=#{p_name},staff_department=#{staff_department},staff_name=staff_name,staff_sex=staff_sex,staff_no=staff_no
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
        </where>
        </if>
        <if test="p_name == null or p_name == '' ">
        update tbl_staff_induction
            set staff_status=staff_status,p_name=p_name,staff_department=#{staff_department},staff_name=staff_name,staff_sex=staff_sex,staff_no=staff_no
            <where>
                <if test="staff_no != null and staff_no != ''">
                    and staff_no = #{staff_no}
                </if>
            </where>
        </if>
        <if test="staff_department == null or staff_department == '' ">
        update tbl_staff_induction
            set staff_status=staff_status,p_name=#{p_name},staff_department=staff_department,staff_name=staff_name,staff_sex=staff_sex,staff_no=staff_no
            <where>
                <if test="staff_no != null and staff_no != ''">
                    and staff_no = #{staff_no}
                </if>
            </where>
        </if>
    </update>
</mapper>