<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.department.DepartmentMapper">
    <select id="findByParam"
            resultType="com.example.web01.po.department.Department"
            parameterType="com.example.web01.dto.department.DepartmentDto">
        select * from tbl_department
        <where>
            <if test="dep_id != null and dep_id != ''">
                and dep_id =#{dep_id}
            </if>

            <if test="dep_name != null and dep_name != ''">
                and dep_name  like concat('%',#{dep_name},'%')
            </if>

            <if test="dep_manager != null and dep_manager != ''">
                and dep_manager =#{dep_manager}
            </if>

            <if test="dep_phone != null and dep_phone !=''">
                and dep_phone &lt;= #{dep_phone}
            </if>

            <if test="dep_description != null and dep_description !=''">
                and dep_description &lt;= #{dep_description}
            </if>

            <if test="dep_date != null and dep_date !=''">
                and dep_date &lt;= #{dep_date}
            </if>


        </where>
    </select>
</mapper>




