<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.form.NewStaffMapper">
    <select id="findByParam"
            resultType="com.example.web01.po.form.NewStaff"
            parameterType="com.example.web01.dto.form.NewStaffDto">
        select * from tbl_new_staff
        <where>
            <if test="dep_name != null and dep_name != ''">
                and dep_name like concat('%',#{dep_name},'%')
            </if>
            <if test="p_name != null and p_name != ''">
                and p_name like concat('%',#{p_name},'%')
            </if>
            <if test="staff_name != null and staff_name != ''">
                and staff_name like concat('%',#{staff_name},'%')
            </if>
            <if test="staff_sex != null and staff_sex != ''">
                and staff_sex = #{staff_sex}
            </if>
            <if test="entry_date_start != null and entry_date_start != ''">
                and entry_date >= #{entry_date_start}
            </if>
            <if test="entry_date_end != null and entry_date_end != ''">
                and entry_date &lt;= #{entry_date_end}
            </if>
            <if test="staff_education != null and staff_education != ''">
                and staff_education = #{staff_education}
            </if>
        </where>
    </select>
</mapper>