<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.StaffInformation.CareerInformationMapper">
    <insert id="infoAdd" parameterType="com.example.web01.dto.StaffInformation.CareerInformationDto">
        insert into tbl_staff_career_information(staff_no, start_time, end_time, company_name, job_description, p_name,
                                                 monthly_salary, notes)
        values (#{staff_no}, #{start_time}, #{end_time}, #{company_name}, #{job_description}, #{p_name},
                #{monthly_salary}, #{notes})
    </insert>
    <update id="infoUpdate" parameterType="com.example.web01.dto.StaffInformation.CareerInformationDto">
        update tbl_staff_career_information
        set start_time=#{start_time},
        end_time=#{end_time},
        company_name=#{company_name},
        job_description=#{job_description},
        p_name=#{p_name},
        monthly_salary=#{monthly_salary},
        notes=#{notes}
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
        </where>
    </update>

    <delete id="infoDel" parameterType="com.example.web01.dto.StaffInformation.CareerInformationDto">
        delete
        from tbl_staff_career_information
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
        </where>
    </delete>

    <select id="findByParam" resultType="com.example.web01.po.StaffInformation.CareerInformation"
            parameterType="com.example.web01.dto.StaffInformation.CareerInformationDto">
        select *
        from tbl_staff_career_information
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no like concat('%', #{staff_no}, '%')
            </if>
            <if test="company_name != null and company_name != ''">
                and company_name like concat('%', #{company_name}, '%')
            </if>
            <if test="p_name != null and p_name != ''">
                and p_name like concat('%', #{p_name}, '%')
            </if>
        </where>
    </select>
</mapper>