<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.StaffInformation.ForeignLanInfoMapper">
    <insert id="infoAdd" parameterType="com.example.web01.dto.StaffInformation.ForeignLanInfoDto">
        insert into tbl_staff_foreign_language_aptitude(staff_no, foreign_languages, proficiency_in_foreign_languages)
        values (#{staff_no}, #{foreign_languages}, #{proficiency_in_foreign_languages})
    </insert>

    <update id="infoUpdate" parameterType="com.example.web01.dto.StaffInformation.ForeignLanInfoDto">
        update tbl_staff_foreign_language_aptitude
        set
        proficiency_in_foreign_languages=#{proficiency_in_foreign_languages},
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
            <if test="foreign_languages != null and foreign_languages != ''">
                and foreign_languages = #{foreign_languages}
            </if>
        </where>
    </update>

    <delete id="infoDel" parameterType="com.example.web01.dto.StaffInformation.ForeignLanInfoDto">
        delete
        from tbl_staff_foreign_language_aptitude
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
            <if test="foreign_languages != null and foreign_languages != ''">
                and foreign_languages = #{foreign_languages}
            </if>
        </where>
    </delete>

    <select id="findByStaffNo" resultType="com.example.web01.po.StaffInformation.ForeignLanInfo"
            parameterType="com.example.web01.dto.StaffInformation.ForeignLanInfoDto">
        select * from tbl_staff_foreign_language_aptitude
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no like concat('%', #{staff_no}, '%')
            </if>
            <if test="foreign_languages != null and foreign_languages != ''">
                and foreign_languages = #{foreign_languages}
            </if>
            <if test="proficiency_in_foreign_languages != null and proficiency_in_foreign_languages != '' or proficiency_in_foreign_languages == 0">
                and proficiency_in_foreign_languages = #{proficiency_in_foreign_languages}
            </if>
        </where>
    </select>
</mapper>