<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.web01.mapper.StaffInformation.SocialRelationshipInfoMapper">
    <insert id="infoAdd">
        insert into tbl_staff_family_and_social_relationships_info(staff_no, relationship, name_of_family,
                                                                   department_of_family, position_of_family,
                                                                   telephone_of_family)
        values (#{staff_no}, #{relationship}, #{name_of_family}, #{department_of_family}, #{position_of_family},
                #{telephone_of_family})
    </insert>

    <update id="infoUpdate">
        update tbl_staff_family_and_social_relationships_info
        set name_of_family=#{name_of_family},
        department_of_family=#{department_of_family},
        position_of_family=#{position_of_family},
        telephone_of_family=#{telephone_of_family},
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
            <if test="relationship != null and relationship != ''">
                and relationship = #{relationship}
            </if>
        </where>
    </update>

    <delete id="infoDel">
        delete
        from tbl_staff_family_and_social_relationships_info
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no = #{staff_no}
            </if>
            <if test="relationship != null and relationship != ''">
                and relationship = #{relationship}
            </if>
        </where>
    </delete>

    <select id="infoSelect" resultType="com.example.web01.po.StaffInformation.SocialRelationshipInfo"
            parameterType="com.example.web01.dto.StaffInformation.SocialRelationshipInfoDto">
        select * from tbl_staff_family_and_social_relationships_info
        <where>
            <if test="staff_no != null and staff_no != ''">
                and staff_no like concat('%', #{staff_no}, '%')
            </if>
            <if test="relationship != null and relationship != ''">
                and relationship = #{relationship}
            </if>
            <if test="name_of_family != null and name_of_family != ''">
                and name_of_family like concat('%', #{name_of_family}, '%')
            </if>
        </where>
    </select>
</mapper>